@model PizzaViewModel
@using OnlinePizzeria.Data.DataModels;

<!DOCTYPE html>
<html>
   <head>
      <title>Custom Pizza</title>
   </head>
   <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h1 class="text-center mb-4">Create your own Pizza</h1>
                                <form method="post">
                                    <div class="form-group">
                                        <label asp-for="PizzaName">Pizza Name:</label>
                                        <input asp-for="PizzaName" class="form-control" placeholder="Give your pizza a name...">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PizzaSize.Size">Size:</label>
                                        <select asp-for="PizzaSize.Size" class="form-control">
                                            <option value="@PizzaSize.SizeType.Small">Small</option>
                                            <option value="@PizzaSize.SizeType.Medium">Medium</option>
                                            <option value="@PizzaSize.SizeType.Large">Large</option>
                                        </select>
                                    </div>
                                    <h2>Toppings:</h2>
                                    <div class="form-group form-check">
                                        <input asp-for="TomatoSauce" type="checkbox" class="form-check-input">
                                        <label asp-for="TomatoSauce" class="form-check-label">Tomato Sauce</label>
                                    </div>
                                    <div class="form-group form-check">
                                        <input asp-for="Cheese" type="checkbox" class="form-check-input">
                                        <label asp-for="Cheese" class="form-check-label">Cheese</label>
                                    </div>
                                    <div class="form-group form-check">
                                        <input asp-for="Peperoni" type="checkbox" class="form-check-input">
                                        <label asp-for="Peperoni" class="form-check-label">Pepperoni</label>
                                    </div>
                                    <div class="form-group form-check">
                                        <input asp-for="Ham" type="checkbox" class="form-check-input">
                                        <label asp-for="Ham" class="form-check-label">Ham</label>
                                    </div>
                                    <div class="form-group form-check">
                                        <input asp-for="Mushroom" type="checkbox" class="form-check-input">
                                        <label asp-for="Mushroom" class="form-check-label">Mushroom</label>
                                    </div>
                                    <div class="form-group form-check">
                                        <input asp-for="Tuna" type="checkbox" class="form-check-input">
                                        <label asp-for="Tuna" class="form-check-label">Tuna</label>
                                    </div>
                                    <div class="form-group form-check">
                                        <input asp-for="Beef" type="checkbox" class="form-check-input">
                                        <label asp-for="Beef" class="form-check-label">Beef</label>
                                    </div>
                                    <div class="form-group form-check">
                                        <input asp-for="Pineapple" type="checkbox" class="form-check-input">
                                        <label asp-for="Pineapple" class="form-check-label">Pineapple</label>
                                    </div>
                                    <h2>Ingredient Weights:</h2>
                                    <div class="form-group">
                                    <label asp-for="WeightOption.Products">Tomato Weight:</label>
                                    <select asp-for="WeightOption.Products" class="form-control">
                                        <option value="@WeightOption.Choice.None">None</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Light</option>
                                        <option value="@WeightOption.Choice.Light">Light</option>
                                        <option value="@WeightOption.Choice.Normal">Normal</option>
                                        <option value="@WeightOption.Choice.Heavy">Heavy</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Heavy</option>
                                    </select>
                                    <label asp-for="WeightOption.Products">Cheese Weight:</label>
                                    <select asp-for="WeightOption.Products" class="form-control">
                                        <option value="@WeightOption.Choice.None">None</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Light</option>
                                        <option value="@WeightOption.Choice.Light">Light</option>
                                        <option value="@WeightOption.Choice.Normal">Normal</option>
                                        <option value="@WeightOption.Choice.Heavy">Heavy</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Heavy</option>
                                    </select>
                                    <label asp-for="WeightOption.Products">Peperoni Weight:</label>
                                    <select asp-for="WeightOption.Products" class="form-control">
                                        <option value="@WeightOption.Choice.None">None</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Light</option>
                                        <option value="@WeightOption.Choice.Light">Light</option>
                                        <option value="@WeightOption.Choice.Normal">Normal</option>
                                        <option value="@WeightOption.Choice.Heavy">Heavy</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Heavy</option>
                                    </select>
                                    <label asp-for="WeightOption.Products">Mushroom Weight:</label>
                                    <select asp-for="WeightOption.Products" class="form-control">
                                        <option value="@WeightOption.Choice.None">None</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Light</option>
                                        <option value="@WeightOption.Choice.Light">Light</option>
                                        <option value="@WeightOption.Choice.Normal">Normal</option>
                                        <option value="@WeightOption.Choice.Heavy">Heavy</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Heavy</option>
                                    </select>
                                    <label asp-for="WeightOption.Products">Tuna Weight:</label>
                                    <select asp-for="WeightOption.Products" class="form-control">
                                        <option value="@WeightOption.Choice.None">None</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Light</option>
                                        <option value="@WeightOption.Choice.Light">Light</option>
                                        <option value="@WeightOption.Choice.Normal">Normal</option>
                                        <option value="@WeightOption.Choice.Heavy">Heavy</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Heavy</option>
                                    </select>
                                    <label asp-for="WeightOption.Products">Pineapple Weight:</label>
                                    <select asp-for="WeightOption.Products" class="form-control">
                                        <option value="@WeightOption.Choice.None">None</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Light</option>
                                        <option value="@WeightOption.Choice.Light">Light</option>
                                        <option value="@WeightOption.Choice.Normal">Normal</option>
                                        <option value="@WeightOption.Choice.Heavy">Heavy</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Heavy</option>
                                    </select>
                                    <label asp-for="WeightOption.Products">Ham Weight:</label>
                                    <select asp-for="WeightOption.Products" class="form-control">
                                        <option value="@WeightOption.Choice.None">None</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Light</option>
                                        <option value="@WeightOption.Choice.Light">Light</option>
                                        <option value="@WeightOption.Choice.Normal">Normal</option>
                                        <option value="@WeightOption.Choice.Heavy">Heavy</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Heavy</option>
                                    </select>
                                    <label asp-for="WeightOption.Products">Beef Weight:</label>
                                    <select asp-for="WeightOption.Products" class="form-control">
                                        <option value="@WeightOption.Choice.None">None</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Light</option>
                                        <option value="@WeightOption.Choice.Light">Light</option>
                                        <option value="@WeightOption.Choice.Normal">Normal</option>
                                        <option value="@WeightOption.Choice.Heavy">Heavy</option>
                                        <option value="@WeightOption.Choice.ExtraHeavy">Extra Heavy</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary mt-3" type="submit" asp-controller="PizzaModel" asp-action="OrderIndex">Order my pizza</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </body>
</html>