@model List<CreditCardPaymentViewModel>
@{
	ViewData["Title"] = "List of Payments";
}

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-primary text-white ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Payment List</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-controller="CreditCardPayment" asp-action="AddPayment" class="btn btn-outline-primary">
					<i class="bi bi-plus-circle"></i>Create New Payment
				</a>
			</div>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr class="text-center">
					<th>Card Number</th>
					<th>Expiration Date</th>
					<th>CVV</th>
					<th>Amount</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var payment in Model.OrderBy(n => n.Amount))
				{
					<tr class="text-center">
						<td>@Html.DisplayFor(model => payment.CardNumber)</td>
						<td>@Html.DisplayFor(model => payment.ExpirationDate)</td>
						<td>@Html.DisplayFor(model => payment.CVV)</td>
						<td>@Html.DisplayFor(model => payment.Amount)</td>
						<td>
							<div class="w-100 btn-group" role="group">
								<a class="btn btn-outline-primary" asp-action="UpdatePayment" asp-route-id="@payment.Id"><i class="bi bi-pencil square"></i>Update</a>
								<a class="btn btn-outline-info" asp-action="Details" asp-route-id="@payment.Id"><i class="bi bi-eye"></i>Details</a>
								<a class="btn btn-outline-danger" asp-action="DeletePayment" asp-route-id="@payment.Id"><i class="bi bi-trash-fill"></i>Delete</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>




